<div class="containerLogin">
  <div class="loginCard">
    <div class="loginCardHeader">
    </div>
    <div class="loginCardBody">
      <div class="loginCardBodyTitle">
        <p><strong>Login</strong></p>
      </div>
      <div class="loginCardBodyCredenciales">

        <div class="input-container">
          <input type="text" id="name" placeholder=" " required>
          <label for="name"><i class="pi pi-users"></i> Nombre</label>
        </div>

        <div class="input-container">
          <input type="password" id="password" placeholder=" " required>
          <label for="password"><i class="pi pi-lock"></i> Password</label>
        </div>
        <div class="input-container2">
          <div id="recuerdaId">
            <p-toggleswitch class="input-container2Check"/>
            <p>Recuerdame</p>
          </div>
          <div id="recuperaPass">
            <p>Recuperar password</p>
          </div>

        </div>
        <div class="input-container">
          <button class="btn-ripple">Login</button>
        </div>
        <div class="input-container3">
          <p>Crear usuario</p>
        </div>
      </div>
    </div>
  </div>
</div>
